/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*          HERE MY JURNEY BEGINNS          */

article h1 {
    font-size:70px; 
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
}

div.text {
    width: 100%;
    margin:60px 0px;

    /*border: 1px solid #000000;*/
    overflow: auto;
    
}

div.column1 {
    float: left;
    margin: 0px;
    padding: 0px 1% 0px 2%;
    width: 47%;
}

div.column2 {
    float:  right;
    margin: 0px;
    padding: 0px 2% 0px 1%;
    width: 47%;
}

.element {
    margin-bottom:20px;
}

p.rubrik {
    font-weight: 400;
    font-size: 20px;
    font-family: arial;
    text-align: left;
}

.logo1 {
    width: 70px;
}

p.brod {
    margin: 10px 0px 10px 20px;
    font-weight: 400;
    font-family: arial;
    font-size: 16px;
    line-height: 20px;
}

div.element a.elementWatch {
    margin: 10px 0px 0px 20px;
}

div.element a{
    color: #008;
    text-decoration: none;
}

div.element a:hover {
    color: #f00;
}

div.element iframe {
    margin: 10px 0px;
}

#top_button {
    float: right;
    position: absolute;
    left: 10px;
}

div.testy {
    background-color: yellow;
    padding: 20px;
    display: none;
}

div.testy:hover {
    display: block;
    transition-delay: 2000ms;
}

iframe.embededvideo {
    width: 100%;
    height: 10px;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}

iframe.embededvideo:hover {
    height: 216px;
}

div.element a.elementWatch:hover + div.te2{
    height: 2px;
}










